.child {
  padding: calc(var(--spacing) * var(--density-multiplier));
  font-size: var(--font-size);
  background-color: var(--background-color, red);
  color: var(--heading-color, red);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
}