/* styles.css */

/* Spacing tokens */
:root {
    --spacing-xSmall: 0.25rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-xLarge: 2rem;
  
    /* Density multipliers for padding */
    --density-multiplier-low: 1.5;
    --density-multiplier-default: 1;
    --density-multiplier-high: 0.5;
  
    /* Density font sizes */
    --font-size-low: 1.125rem;
    --font-size-default: 1rem;
    --font-size-high: 0.875rem;

    --font-size: var(--font-size-default);
    --density-multiplier: var(--density-multiplier-default);
}