/* styles.css */

/* Spacing tokens */
:root {
    --spacing-xSmall: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xLarge: 32px;
  
    /* Density multipliers for padding */
    --density-multiplier-low: 1.5;
    --density-multiplier-default: 1;
    --density-multiplier-high: 0.5;
  
    /* Density font sizes */
    --font-size-low: 22px;
    --font-size-default: 16px;
    --font-size-high: 10px;

    /* Default values */
    --font-size: var(--font-size-default);
    --density-multiplier: var(--density-multiplier-default);
    --spacing: var(--spacing-medium);
}